mixin aside(active, calendar)
	+namespace("aside")
		+el("nav", "ul")
			each val in asideNavLogged
				+el("nav-item", "li")(class="#{val.titleMenu ? 'js-container' : ''}")
					-
						var elemClass = function() {
						if(val.titleMenu && active == val.title) {
						return '__menu __opened js-btn-toggle';
						} else if(val.titleMenu) {
						return '__menu js-btn-toggle';
						} else if(active == val.title) {
						return '__active';
						} else {
						return '';
						}
						}
					+el("nav-link", "a")(href="#", class="#{elemClass()}")!= val.title
					if val.titleMenu
						+el("nav-menu")(class="#{active == val.title ? '__show js-content' : 'js-content'}")
							each elem in val.titleMenu
								a(href="#", class=subMenuActive == elem ? '__active' : '')!= elem
		+el("form", "form")(action="#", method="get").clearfix
			+el("form-search", "input")(type="text", placeholder="Поиск...")
			+el("form-submit", "input")(type="submit")
		+el("menu")
			+el("menu-title", "h3") Разделы меню:
			+el("menu-list", "ul")
				each val in asideMenu
					+el("menu-item", "li")
						+el("menu-link", "a")(href="#")!= val
		if calendar
			.calendar.js-calendar