mixin aside(active, calendar)
	+namespace("aside")
		+el("nav", "ul")
			each val in asideNavLogged
				+el("nav-item", "li")
					+el("nav-link", "a")(href="#", class=active == val ? '__active' : '')!= val
		+el("form", "form")(action="#", method="get").clearfix
			+el("form-search", "input")(type="text", placeholder="Поиск...")
			+el("form-submit", "input")(type="submit")
		+el("menu")
			+el("menu-title", "h3") Разделы меню:
			+el("menu-list", "ul")
				each val in asideMenu
					+el("menu-item", "li")
						+el("menu-link", "a")(href="#")!= val
		if calendar
			+el("calendar").js-calendar