mixin content-header()
	+namespace("content-header")
		header.content-header
			+el("countdown")
				| Для заказа на завтра осталось
				+el("time")
					span 1
					span 5
					span :
					span 2
					span 4
			+el("balance")
				span Ваш баланс:
				i
					b 1500
					| руб.