mixin history(historyOrders)
	+namespace("history")
		+el()
			+el("header", "header")
				|Сумма моих заказов с
				+el("date")
					input(type="text", name="history-from", id="history-from", placeholder="Дата")
				|по
				+el("date")
					input(type="text", name="history-to", id="history-to", placeholder="Дата")
				| равна #[b 9045] руб.
			+el("calendar").clearfix
				+el("calendar-desc")
					p Посмотреть мой заказ на:
					+el("calendar-legend").__complete
						span 8
						p Заказ выполнен
					+el("calendar-legend").__incomplete
						span 8
						p Заказ сделан,<br>но не исполнен
				+el("calendar-datepicker")
					.calendar.js-calendar.js-calendar-markers
			+el("orders", "ul").js-history-orders-slider
				each val in historyOrders
					+el("orders-item", "li")
						+el("orders-title", "h4")!= val.title
						+el("orders-list")
							ul
								each elem, index in val.list
									+el("orders-dish", "li")
										.title #{index + 1}. #{elem.dish}
										.price #{elem.price} руб.
										.gap x
										.volume #{elem.volume} шт.
							+el("orders-total") Всего на сумму 675 р.