mixin main-slider()
	div.main-slider.js-main-slider
		ul.main-slider-list
			li.main-slider-item
				img(src="#{ images('example/main-slider-img-1.jpg') }", alt="").main-slider-img
			li.main-slider-item
				img(src="#{ images('example/main-slider-img-2.jpg') }", alt="").main-slider-img
			li.main-slider-item
				img(src="#{ images('example/main-slider-img-3.jpg') }", alt="").main-slider-img