extends layouts/_default

block vars
	-var currentPageTitle = ["Поставщики"];
	-var logged = true;
block content
	.container-table
		.container-aside.aside
			+aside-profile("Поставщики")
		.container-content
			+content-header()
			+suppliers-info()