extends layouts/_default

block vars
	-var currentPageTitle = ["Поставщики"]
block content
	.container-table
		.container-aside.aside
			+aside("Поставщики")
		.container-content
			+suppliers(suppliers)