.call
	text-align right
	&-online
		margin-bottom 7px
		margin-right 5px
		display block
		font-family Tahoma, Arial, sans-serif
		font-size 14px
		line-height 1.2em
		color #000
		text-decoration underline
	&-tel
		font-family Open-Sans-Reg, Arial, sans-serif
		font-size 30px
		line-height 1.2em
		color #666
		text-decoration none
		&:hover
			text-decoration underline