.colleagues
	padding-top 10px
	padding-left 25px
	&-table
		.table
			&-th
				&:nth-child(1)
					width 74px
				&:nth-child(2)
					width 195px
				&:nth-child(3)
					width 162px
				&:nth-child(4)
					width 131px
			&-td
				&:nth-child(2),
				&:nth-child(3)
					padding-left 20px
					text-align left