.company-info
	&-block
		padding 12px 28px 37px
		border-bottom 1px solid #efebe8
	&-title
		margin-bottom 25px
		font-open-sans-reg()
		font-size 16px
		color #cc0000
		span
			margin-top 5px
			display block
			font-size 12px
			color #999
	&-cell
		display table-cell
		vertical-align top
		&.__right
			padding-left 42px
	.form-table
		float left
		width 427px
	.form-label
		min-width 152px
		padding-right 5px
	&-textarea
		min-height 94px
		&-small
			min-height 62px
	&-logo
		.form-label
			float left
			padding 0
			width 45%
			min-width 0
		.image
			clear both
			border 1px solid #e1d6cb
			width 45%
			text-align center
			line-height 0
		.btn
			float right
			width 45%

