.container
	margin 0 auto
	width 1090px
	padding 0 10px
	&-wrapper
		box-shadow 0 0 10px 0 rgba(77,38,0,.25)
		background #fff
	&-table
		display table
		width 100%
		box-shadow 0 0 10px 0 rgba(77,38,0,.25)
		background #fff
		margin-bottom -28px
	&-aside
		display table-cell
		vertical-align top
		max-width 224px
	&-content
		display table-cell
		vertical-align top
		width 846px
		padding 0 15px
		border-top 7px solid #c8a179
		&-wrapper
			min-height: calc(100vh - 287px);