.footer
	padding 17px 0
	background #955f35
	border-bottom 14px solid #ec2720
	min-width 1090px
	&-up
		margin-bottom 18px
	.container
		padding 0 25px 0 43px
	&-logo
		display block
		float left
		margin-right 190px
		margin-top 25px
	&-call
		display block
		float left
		.call
			&-online
				color #f3e5cc
			&-tel
				color #fff
	&-social
		display block
		float right
		margin-top 3px
		margin-right 105px
	&-copyright
		margin-right 92px
		float left
		font-family Tahoma, Arial, sans-serif
		font-size 14px
		line-height 1.2em
		color #f3e5cc
	&-menu
		float left
		font-size 0
		&-item
			display inline-block
			vertical-align top
			margin-right 25px
		&-link
			display block
			font-family Tahoma, Arial, sans-serif
			font-size 15px
			line-height 1.2em
			font-weight 700
			color #f3e5cc
			text-decoration none
			&:last-child
				margin-right 0
			&:hover
				text-decoration underline
	&-design
		float right
		min-width 208px
		font-family Tahoma, Arial, sans-serif
		font-size 14px
		line-height 1.2em
		font-weight 700
		color #f3e5cc
