.header
	box-shadow 0 0 10px 0 rgba(77,38,0,.25)
	border-top 12px solid #ec2720
	position relative
	z-index 1
	min-width 1090px
	.container
		padding 30px 40px 20px 35px
	&-logo
		float left
		margin-right 76px
	&-call
		float left
		margin-top 7px
	&-login
		display block
		float right
		margin-top 2px
		padding-left 25px
		max-width 250px
		text-decoration none
		position relative
		&:before
			content ''
			position absolute
			top 4px
			left 0
			sprite(login)
		span
			display inline-block
			vertical-align top
			max-width 100%
			overflow hidden
			text-overflow ellipsis
			white-space nowrap
			font-family Tahoma, Arial,sans-serif
			font-size 20px
			line-height 1.2em
			color #5b925c
			text-decoration none
			text-align right
			border-bottom 1px dashed #5b925c
			&:hover
				border-bottom none
	&.__logged
		.header
			&-login
				margin -17px -16px 0 0
				padding-left 0
				padding-right 38px
				&:before
					top 0
					left auto
					right 0
					sprite(logout)
				span
					font-size 15px
					text-decoration underline
					border-bottom none
					&:hover
						text-decoration none
		.container
			position relative
			&:before
				content ''
				position absolute
				top 0
				bottom 0
				right 296px
				width 1px
				background #efebe8
	&-message
		margin-top 13px
		margin-right -16px
		display block
		float right
		width 237px
		max-height 57px
		overflow hidden
		padding 0 33px 0 0
		background #f7f4f0
		position relative
		&:after
			content '!'
			position absolute
			top 50%
			bottom 0
			right 0
			margin-top -25px
			width 33px
			height 50px
			display block
			font-size 41px
			line-height 50px
			color #fff
			text-align center
		&:hover
			span
				text-decoration none
		span
			display block
			padding 8px 8px 8px 14px
			font-size 15px
			color #cc0000
			text-decoration underline
			text-align right
			border-right 1px solid #ccc

