.history
	max-width 816px
	&-header
		padding 7px 35px 8px
		border-bottom 1px solid #f0eae5
		font-size 14px
		line-height 27px
		color #333
	&-date
		display inline-block
		vertical-align top
		width 120px
		padding 0 10px 0 35px
		margin-right 10px
		background #fbfbfb
		line-height 27px
		position relative
		&:before
			content ''
			position absolute
			top 4px
			left 6px
			sprite(calendar-green)
		input[type='text']
			placeholder(1, #999)
			max-width 100%
			padding 0
			border none
			background transparent
	&-calendar
		padding 23px 35px 22px
		border-bottom 1px solid #f0eae5
		font-size 14px
		color #333
		&-desc
			float left
			width 265px
		&-legend
			position relative
			margin-bottom 15px
			color #999
			&.__complete
				margin-top 75px
				&:before
					sprite(marker-green)
			&.__incomplete
				&:before
					sprite(marker-red)
			&:before
				content ''
				position absolute
				top 0
				left 3px
			span
				display inline-block
				vertical-align top
				margin 0 25px 0 11px
			p
				display inline-block
				vertical-align top
		&-datepicker
			float left
			width 204px
	&-orders
		padding 20px 75px 50px
		border-bottom 1px solid #f0eae5
		&-item
			width 640px
			margin 0 auto
			padding 10px
		&-title
			padding-bottom 15px
			font-open-sans-reg()
			font-size 16px
			color #559c61
			text-align center
		&-list
			padding 25px 35px 20px
			border 1px solid #f0eae5
			box-shadow 5px 5px 5px 0 rgba(0,0,0,.05)
			position relative
			&::before
				content ''
				position absolute
				top 0
				bottom 0
				left -1px
				width 1px
				background linear-gradient(to bottom, #f0eae5 36.84211%, #fff 63.15789%)
				background-size 1px 38px
				background-repeat repeat-y
			&>ul
				padding 0 30px 20px
				margin-bottom 10px
				border-bottom 1px solid #f0eae5
		&-dish
			margin-bottom 20px
			font-size 0
			&:last-child
				margin-bottom 0
			.title
				display inline-block
				vertical-align top
				width 350px
				padding-right 10px
				font-open-sans-reg()
				font-size 16px
				color #333
			.price,
			.volume
				display inline-block
				vertical-align top
				font-open-sans-reg()
				font-size 16px
				color #000
			.price
				width 80px
				padding-right 10px
			.volume
				width 65px
				padding-left 10px
				text-align right
			.gap
				display inline-block
				vertical-align top
				font-open-sans-reg()
				font-size 16px
				color #999
		&-total
			font-open-sans-reg()
			font-size 16px
			color #cc0000
			text-align right


