.order
	.suppliers
		&-menu
			&-table
				display block
	&-footer
		padding 0 10px
	&-total
		float left
		max-width 50%
		font-open-sans-reg()
		font-size 16px
		color #cc0000
	&-buttons
		float right
		max-width 50%
	&-submit
		float right
		margin-bottom 45px
	&-reset
		float right
		margin-left 27px
		margin-bottom 45px
	&-to-suppliers
		display block
		clear both
		font-open-sans-reg()
		font-size 14px
		color #559c61
		text-align center