.profile
	&-block
		margin -1px 0 0
		padding 23px 30px 38px
		border-top 1px solid #efebe8
		&-title
			font-open-sans-reg()
			font-size 16px
			color #000
			margin-bottom 20px
	//&-form
	//	width 430px
	//	.form-label
	//		min-width 150px
	//&-textarea
	//	min-height 94px
	&-form
		float left
		width 390px
		.form
			&-input
				min-width 250px
			&-table
				margin-bottom 40px
	&-notification
		float right
		margin-top 50px
		width 325px
		height 17px
		text-align right
		.checkbox
			display inline-block
			text-align left