.registration
	&-wrapper
		margin-bottom 35px
	&-alert
		float left
		font-size 12px
		line-height 32px
		color #cc0000
	&-btn
		float right
	&-text
		font-open-sans-it()
		font-size 14px
		color #333
		text-align center
	&-textarea
		min-height 74px
.__registration
	.popup
		&-content
			padding-left 36px
			padding-right 69px
		&-box
			width 540px
			padding-bottom 5px
		&-inner
			width 494px
			box-shadow 2px 2px 5px 0 rgba(61,50,38,.35)
	.form
		padding-bottom 25px
		border-bottom 1px solid #ccc
		&-table
			margin-bottom 24px
