.team
	padding 12px 28px 0 38px
	&-table
		.table
			&-th
				&:nth-child(1)
					width 33px
				&:nth-child(2)
					width 138px
				&:nth-child(3)
					width 118px
				&:nth-child(4)
					width 118px
				&:nth-child(5)
					width 112px
				&:nth-child(6)
					width 124px
				&:nth-child(7)
					width 66px
			&-td
				font-size 13px
				color #000
				&:nth-child(2),
				&:nth-child(3)
					padding-left 5px
					text-align left