.team
	padding 12px 28px 0 38px
	&-table
		margin-bottom 10px
		.table
			&-th
				&:nth-child(1)
					width 33px
				&:nth-child(2)
					width 138px
				&:nth-child(3)
					width 118px
				&:nth-child(4)
					width 118px
				&:nth-child(5)
					width 112px
				&:nth-child(6)
					width 124px
				&:nth-child(7)
					width 66px
			&-td
				font-size 13px
				color #000
				&:nth-child(2),
				&:nth-child(3)
					padding-left 5px
					text-align left
	&-add
		display inline-block
		vertical-align top
		margin-bottom 10px
		margin-left 38px
		font-open-sans-reg()
		font-size 13px
		color #559c61
		text-decoration none
		border-bottom 1px dashed #559c61
		position relative
		&:before
			content ''
			position absolute
			top 50%
			margin-top -1px
			left -27px
			width 13px
			height 3px
			background #559c61
		&:after
			content ''
			position absolute
			top 50%
			margin-top -6px
			left -22px
			width 3px
			height 13px
			background #559c61;
		&:hover
			border-bottom-color transparent
	&-buttons
		margin 0 -28px 0 -38px
		padding-top 22px
		border-top 1px solid #efebe8
		font-size 0
		text-align center
		.btn
			min-width 168px
			margin-right 13px
			&:last-child
				margin-right 0
