//main
//	.req
//		font-size: 12px;
//		color: #db2a2a;
//		position: relative;
//		top: -5px;
//
//.form
//	position relative
//	&-item
//		&.width-50
//			padding-right: 13px;
//			border-box()
//		&-right
//			display: inline-block;
//			vertical-align: middle;
//			position: relative;
//			top: -2px;
//			margin-left: 28px;
//			&-number, &-date
//				display: inline-block;
//				vertical-align: middle;
//				margin-left 20px
//				input[type="text"]
//					width 100%
//			&-number
//				margin-left 15px
//				width 50px
//			&-date
//				width 145px
//
//		margin-bottom 18px
//		&-column
//			width 210px
//			margin-left 26px
//			&:first-of-type
//				margin-left 0
//		&.error
//			.ui-select-wrapper
//				.ui-selectmenu-button
//					border 1px solid #f0b8b8 !important
//
//	&-column-line
//		margin: 30px -30px 0;
//		padding: 20px 30px;
//		border-top: 1px solid #dae3e4;
//		& + .form-column-line
//			margin-top 0
//	&-attention
//		color #686868
//		font-size 12px
//		margin-bottom: 25px;
//		margin-top: 27px;
//		text-align left
//	textarea
//		height 168px
//
//	label
//		font-size 14px
//		text-align left
//		color #000
//		display block
//		margin-bottom 10px
//	input,
//	textarea
//		& + label
//			display inline-block
//			vertical-align middle
//			margin-bottom 0
//			margin-left 10px
//
//	&.compact
//		input,
//		textarea
//			width 60%
//
//	&.error
//		input,
//		textarea
//			border 1px solid #f0b8b8 !important
//			box-shadow 0 0 5px rgba(219,42,42, 0.20) !important
//
//
//.error-msg
//	margin-top 10px
//	display inline-block
//	margin-left 10px
//	color #db2a2a
//	font-size 14px
//	text-align left

main
	.form
		&-table
			display table
			width 100%
		&-row
			display table-row
			&:last-child
				.form-label,
				.form-control
					padding-bottom 0
			&.__valid,
			&.__invalid
				.form
					&-label
						padding-bottom 28px
					&-control
						position relative
						padding-bottom 28px
			&.__valid
				.form
					&-control
						&:before
							content ''
							position absolute
							top 11px
							right -27px
							width 12px
							height 7px
							transform rotate(-45deg)
							border-left 3px solid #559c61
							border-bottom 3px solid #559c61
						.form-hint
							display block
							color #559c61
			&.__invalid
				.form
					&-control
						&:before,
						&:after
							content ''
							position absolute
							top 16px
							right -24px
							width 12px
							height 3px
							background #cc0000
						&:before
							transform rotate(-45deg)
						&:after
							transform rotate(45deg)
						.form-hint
							display block
							color #cc0000
		&-label
			display table-cell
			vertical-align middle
			padding-right 30px
			padding-bottom 9px
			min-width 140px
			label
				display inline-block
				vertical-align middle
				font-size 14px
				color #666
				span
					display block
					font-size 12px
					color #999
		&-control
			display table-cell
			vertical-align middle
			padding-bottom 9px
			width 100%
		&-hint
			display none
			position absolute
			padding-left 9px
			font-size 12px
		&-input,
		&-input[type="text"],
		&-input[type="password"]
			display block
			width 100%
			padding 7px 9px 8px
			border-radius 4px
			border 1px solid #ccc
			box-shadow inset 0 1px 3px 0 rgba(0,0,0,.12)
			font-size 14px
			color #666
		&-submit
			display inline-block
			min-width 144px
			padding 0 5px
			background #98dba3
			background linear-gradient(to top, #98dba3, #c0f3c8)
			box-shadow 1px 1px 1px 0 rgba(51,51,51,.75)
			border-radius 2px
			border none
			outline none
			font-open-sans-reg()
			font-size 18px
			line-height 32px
			color #333
			text-align center
			&:hover
				background #c0f3c8
				background linear-gradient(to top, #c0f3c8, #98dba3)

		&-select
			.ui-selectmenu-button
				min-width 100%
				padding 7px 9px 8px
				border-radius 4px
				border 1px solid #ccc
				box-shadow inset 0 1px 3px 0 rgba(0,0,0,.12)
				background transparent
				font-size 14px
				color #666
				span.ui-selectmenu-text
					padding 0 25px 0 0
				span.ui-icon
					border-left 1px solid #ccc
					background none
					display block
					top 0
					right 0
					height 100%
					width 30px
					margin 0
					&:before
						content ''
						position absolute
						top 15px
						right 8px
						margin 0
						width 0
						height 0
						border-top 7px solid #666
						border-right 7px solid transparent
						border-left 7px solid transparent
						background none
			.ui-selectmenu-menu
				.ui-menu-item
					padding 7px 9px 8px
					font-size 14px
					color #666

	//checkbox styles
	.checkbox
		padding-left 35px
		position relative
		&-input,
		input[type='checkbox']
			display none
			&:checked
				& + .checkbox-label,
				& + label
					&:after
						display block
		&-label,
		label
			font-size 14px
			line-height 17px
			color #666
			&:before
				content ''
				position absolute
				top 0
				left 0
				width 17px
				height 17px
				border 1px solid #c0c0c0
				border-radius 3px
				box-shadow inset 1px 1px 2px 0 #eaeaea
			&:after
				display none
				content ''
				position absolute
				top 2px
				left 2px
				height 7px
				width 13px
				border-left 3px solid #559c61
				border-bottom 3px solid #559c61
				transform rotate(-45deg)

	//button
	.btn
		width 146px
		padding 0 10px
		font-open-sans-reg()
		font-size 18px
		line-height 32px
		color #333
		border 1px solid #7ebe89
		border-radius 3px
		background #80c28b
		background linear-gradient(to top, #80c28b, #80c28b 49%, #9ad5a4 54%, #9ad5a4)
		box-shadow 1px 1px 1px 0 rgba(51,51,51,.75)
		text-shadow 1px 1px 1px #fff
		position relative
		&:before
			content ''
			position absolute
			top 7px
			left 22px
			sprite(cutlery-yellow)
		&:hover
			border 1px solid #469352
			background #98dba3
			background linear-gradient(to top, #449150, #449150 49%, #70b07a 54%, #98dba3)
			color #fff
			text-shadow 1px 1px 1px #000
			span
				border-color transparent
		span
			display inline-block
			vertical-align middle
			line-height 1em
			border-bottom 1px dashed #333
