$spritesCount = 17
$$sprite = {
	's-arrow-right': 217px 120px -217px -120px 18px 16px 239px 160px 'images/sprites/__sprite.png'
	's-arrow-up-green': 130px 100px -130px -100px 8px 10px 239px 160px 'images/sprites/__sprite.png'
	's-aside-nav-triangle-1': 180px 66px -180px -66px 17px 46px 239px 160px 'images/sprites/__sprite.png'
	's-aside-nav-triangle': 180px 0px -180px 0px 17px 46px 239px 160px 'images/sprites/__sprite.png'
	's-calendar-green': 217px 80px -217px -80px 19px 20px 239px 160px 'images/sprites/__sprite.png'
	's-cutlery-green': 0px 0px 0px 0px 45px 45px 239px 160px 'images/sprites/__sprite.png'
	's-cutlery-yellow': 217px 0px -217px 0px 22px 20px 239px 160px 'images/sprites/__sprite.png'
	's-fb-footer-hover': 50px 130px -50px -130px 30px 30px 239px 160px 'images/sprites/__sprite.png'
	's-fb-footer': 65px 65px -65px -65px 30px 30px 239px 160px 'images/sprites/__sprite.png'
	's-hat-green': 0px 65px 0px -65px 45px 45px 239px 160px 'images/sprites/__sprite.png'
	's-login': 217px 40px -217px -40px 19px 20px 239px 160px 'images/sprites/__sprite.png'
	's-pad-green': 65px 0px -65px 0px 45px 45px 239px 160px 'images/sprites/__sprite.png'
	's-search-red': 180px 132px -180px -132px 16px 16px 239px 160px 'images/sprites/__sprite.png'
	's-twitter-footer-hover': 130px 0px -130px 0px 30px 30px 239px 160px 'images/sprites/__sprite.png'
	's-twitter-footer': 100px 130px -100px -130px 30px 30px 239px 160px 'images/sprites/__sprite.png'
	's-vk-footer-hover': 0px 130px 0px -130px 30px 30px 239px 160px 'images/sprites/__sprite.png'
	's-vk-footer': 130px 50px -130px -50px 30px 30px 239px 160px 'images/sprites/__sprite.png'
}