$spritesCount = 26
$$sprite = {
	's-arrow-right': 78px 180px -78px -180px 18px 16px 241px 239px 'images/sprites/__sprite.png'
	's-arrow-up-green': 130px 100px -130px -100px 8px 10px 241px 239px 'images/sprites/__sprite.png'
	's-aside-nav-triangle-1': 180px 0px -180px 0px 17px 46px 241px 239px 'images/sprites/__sprite.png'
	's-aside-nav-triangle': 180px 66px -180px -66px 17px 46px 241px 239px 'images/sprites/__sprite.png'
	's-calendar-green': 39px 180px -39px -180px 19px 20px 241px 239px 'images/sprites/__sprite.png'
	's-calendar-ring': 150px 130px -150px -130px 8px 25px 241px 239px 'images/sprites/__sprite.png'
	's-clock': 180px 132px -180px -132px 16px 17px 241px 239px 'images/sprites/__sprite.png'
	's-cutlery-green': 65px 0px -65px 0px 45px 45px 241px 239px 'images/sprites/__sprite.png'
	's-cutlery-yellow': 217px 82px -217px -82px 22px 20px 241px 239px 'images/sprites/__sprite.png'
	's-fb-footer-hover': 100px 130px -100px -130px 30px 30px 241px 239px 'images/sprites/__sprite.png'
	's-fb-footer': 50px 130px -50px -130px 30px 30px 241px 239px 'images/sprites/__sprite.png'
	's-hat-green': 0px 65px 0px -65px 45px 45px 241px 239px 'images/sprites/__sprite.png'
	's-login': 0px 180px 0px -180px 19px 20px 241px 239px 'images/sprites/__sprite.png'
	's-logout': 217px 122px -217px -122px 19px 20px 241px 239px 'images/sprites/__sprite.png'
	's-marker-green': 217px 0px -217px 0px 24px 21px 241px 239px 'images/sprites/__sprite.png'
	's-marker-red': 217px 41px -217px -41px 24px 21px 241px 239px 'images/sprites/__sprite.png'
	's-pad-green': 0px 0px 0px 0px 45px 45px 241px 239px 'images/sprites/__sprite.png'
	's-search-red': 116px 180px -116px -180px 16px 16px 241px 239px 'images/sprites/__sprite.png'
	's-slick-next-hovered': 0px 220px 0px -220px 8px 19px 241px 239px 'images/sprites/__sprite.png'
	's-slick-next': 28px 220px -28px -220px 8px 19px 241px 239px 'images/sprites/__sprite.png'
	's-slick-prev-hovered': 56px 220px -56px -220px 8px 19px 241px 239px 'images/sprites/__sprite.png'
	's-slick-prev': 84px 220px -84px -220px 8px 19px 241px 239px 'images/sprites/__sprite.png'
	's-twitter-footer-hover': 0px 130px 0px -130px 30px 30px 241px 239px 'images/sprites/__sprite.png'
	's-twitter-footer': 130px 0px -130px 0px 30px 30px 241px 239px 'images/sprites/__sprite.png'
	's-vk-footer-hover': 65px 65px -65px -65px 30px 30px 241px 239px 'images/sprites/__sprite.png'
	's-vk-footer': 130px 50px -130px -50px 30px 30px 241px 239px 'images/sprites/__sprite.png'
}