$spritesCount = 11
$$sprite = {
	's-arrow-right': 180px 40px -180px -40px 18px 16px 199px 160px 'images/sprites/__sprite.png'
	's-cutlery-green': 65px 0px -65px 0px 45px 45px 199px 160px 'images/sprites/__sprite.png'
	's-fb-footer-hover': 130px 0px -130px 0px 30px 30px 199px 160px 'images/sprites/__sprite.png'
	's-fb-footer': 130px 50px -130px -50px 30px 30px 199px 160px 'images/sprites/__sprite.png'
	's-hat-green': 0px 0px 0px 0px 45px 45px 199px 160px 'images/sprites/__sprite.png'
	's-login': 180px 0px -180px 0px 19px 20px 199px 160px 'images/sprites/__sprite.png'
	's-pad-green': 0px 65px 0px -65px 45px 45px 199px 160px 'images/sprites/__sprite.png'
	's-twitter-footer-hover': 0px 130px 0px -130px 30px 30px 199px 160px 'images/sprites/__sprite.png'
	's-twitter-footer': 50px 130px -50px -130px 30px 30px 199px 160px 'images/sprites/__sprite.png'
	's-vk-footer-hover': 100px 130px -100px -130px 30px 30px 199px 160px 'images/sprites/__sprite.png'
	's-vk-footer': 65px 65px -65px -65px 30px 30px 199px 160px 'images/sprites/__sprite.png'
}