font-tahoma()
	font-family Tahoma, Arial, sans-serif
	line-height 1.2em
	font-weight 400
font-open-sans-reg()
	font-family Open-Sans-Reg, Arial, sans-serif
	font-weight 400
font-open-sans-sb()
	font-family Open-Sans-SemiBold, Arial, sans-serif
	font-weight 400
font-open-sans-it()
	font-family Open-Sans-Italic, Arial, sans-serif
	font-weight 400
font-open-sans-bold()
	font-family Open-Sans-Bold, Arial, sans-serif
	font-weight 400
html
	font-tahoma()