+popup('registration', {title:'Регистрация'})
	mixin content()
		form(action="", method="post", enctype="multipart/form-data", class="form-table registration js-form-registration")
			.form-row
				.form-label
					label(for="registration-name") Имя:
				.form-control
					input(type="text", name="registration-name", id="registration-name", placeholder="")
			.form-row
				.form-label
					label(for="registration-name") Имя:
				.form-control
					input(type="text", name="registration-name", id="registration-name", placeholder="")
			.form-row
				.form-label
					label(for="registration-name") Имя:
				.form-control
					input(type="text", name="registration-name", id="registration-name", placeholder="")
			.form-row
				.form-label
					label(for="registration-name") Имя:
				.form-control
					input(type="text", name="registration-name", id="registration-name", placeholder="")
			.form-row
				.form-label
					label(for="registration-name") Имя:
				.form-control
					input(type="text", name="registration-name", id="registration-name", placeholder="")
			.form-row
				.form-label
					label(for="registration-name") Имя:
				.form-control
					input(type="text", name="registration-name", id="registration-name", placeholder="")
			.form-row
				.form-label
					label(for="registration-name") Имя:
				.form-control
					input(type="text", name="registration-name", id="registration-name", placeholder="")
			.form-row
				.form-label
					label(for="registration-name") Имя:
				.form-control
					input(type="text", name="registration-name", id="registration-name", placeholder="")
			.form-row
				.form-label
					label(for="registration-name") Имя:
				.form-control
					input(type="text", name="registration-name", id="registration-name", placeholder="")
			.form-row
				.form-label
					label(for="registration-name") Имя:
				.form-control
					input(type="text", name="registration-name", id="registration-name", placeholder="")




			//.form-item
			//	label.form-label Телефон
			//	input(type="text", name="", placeholder="+7 (___) ___-__-__", data-mask="+7 (999) 999-99-99")
			//.form-item.callback-select
			//	label.form-label Предпочтительное время звонка
			//	select(name="")
			//		option(value="0") 09:00-12:00
			//		option(value="1") 12:00-15:00
			//		option(value="2") 15:00-18:00
			//		option(value="3") 18:00-21:00
			//.form-submit
			//	input(type="submit", value="Отправить" data-button="")